body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.container {
  animation: gradientColorChange 10s infinite;
  background: linear-gradient(-45deg, #ff0080, #8000ff);
  background-size: 400% 400%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 4rem;
  text-align: center;
  margin: 0;
  background: -webkit-linear-gradient(45deg, #ff0080, #8000ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes gradientColorChange {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
